ul{
list-style:none;
}
.webheader{
background:url(../images/banner.png) no-repeat;;
height:165px;

}
.content{


}
.content_left{

width:200px;

}

.content_right{

}
.tail{
background:#214e92;
height:30px;
}
.tail p{
text-align:center;
}
.regist_item{
 padding: 10px 0 10px 460px;
 font-size: 17px; 
}
.notice ul li {
  line-height: 24px;
}
#tail{
  text-align: center;
  margin-top:10px;
}
.notice li {
  line-height: 24px;
}


#fm{
            margin:0;
            padding:10px 30px;
        }
        .ftitle{
            font-size:14px;
            font-weight:bold;
            padding:5px 0;
            margin-bottom:10px;
            border-bottom:1px solid #ccc;
        }
        .fitem{
            margin-bottom:5px;
        }
        .fitem label{
            display:inline-block;
            width:80px;
        }
        .fitem input{
            width:160px;
        }